.list{
    width: 100%;
    margin-top: 10px;
}

.list-title{
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    margin-left: 50px;
}

.list-container{
    margin-left: 50px;
    display: flex;
    width: max-content;
    margin-top: 10px;
    transition: 0.3s;
}

.list-wrapper{
    position: relative;
}

.slider-arrow{
    background-color: rgb(33, 32, 32, 0.5);
    color: #fff;
    position: absolute;
    z-index: 80;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.left{
    left: 0;
}

.right{
    right: 0;
}